.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: #f7f7f7; /* Atur background sesuai dengan desain */
}

.search-container input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 100%; /* Atur lebar sesuai kebutuhan */
}

.user-profile {
  display: flex;
  align-items: center;
}

.user-image img {
  width: 50px; /* Atur sesuai ukuran yang Anda inginkan */
  height: 50px;
  border-radius: 50%; /* Membuat gambar menjadi bulat */
}

.user-info {
  margin-left: 10px; /* Jarak antara gambar dan teks */
}

.user-name {
  font-weight: bold;
}

.user-role {
  color: #666;
}
